<hr>
<dl>
	<dt><label for="floconsdeneige">{{ lang('FLOCONSDENEIGE') ~ lang('COLON') }}</label><br>
		<span>{{ lang('FLOCONSDENEIGE_EXPLAIN') }}</span></dt>
	<dd>
		<label for="floconsdeneige"><input type="radio" name="floconsdeneige" id="floconsdeneige" value="1"{{ S_FLOCONSDENEIGE ? ' checked' }}> {{ lang('YES') }}</label>
		<label for="floconsdeneige0"><input type="radio" name="floconsdeneige" id="floconsdeneige0" value="0"{{ !S_FLOCONSDENEIGE ? ' checked' }}> {{ lang('NO') }}</label>
	</dd>
</dl>
